body {

    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /*background: radial-gradient(#5796ed, #8f8b8b, #0f629d);*/
}

.card {
    width: 30rem;
}

.card:hover {
    box-shadow: 4px 4px 4px 1px rgba(255, 255, 255, 0.6) !important;
    transform: scale(1.05);
}

.card-body {
    padding: 3rem 1px !important;
}

.card-text {
    font-size: 1rem;
    padding: 0.4rem 1.8rem;
}

.container-fluid .row {
    padding-top: 10rem;
}